@import "~antd/dist/antd.css";

.App {
}

.divTable {
  display: table;
  width: 30%;
  float: left;
  padding: 3px;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
  vertical-align: top;
  text-align: center;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.recharts-text.recharts-label {
  font-size: 18px;
}

.admin-body {
  margin-top: 10px;
}

.nav-button {
  margin-top: 10px;
}

.asset-table-highlight {
  background-color: rgb(230, 247, 255);
}

.asset-table-medium {
  background-color: orange;
}

.asset-table-high {
  background-color: red;
}

.border {
  border: 1px solid #e8e8e8;
}

.map-asset {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: black;
  background: grey;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.map-asset-hover {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: black;
  background: red;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: red;
  width: 10;
  height: 10;
  z-index: 9998;
}

.map-asset-hover-vuln-high {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: black;
  background: red;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

.map-asset-hover-vuln-medium {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: black;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: orange;
  width: 10;
  height: 10;
  z-index: 9998;
}

.map-asset-txt {
  visibility: hidden;
}

.map-asset-txt-hover {
  font-size: 25px;
  font-weight: bold;
  visibility: visible;
  padding: 5px 5px;
  z-index: 9999;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.map-asset-txt-hover-vuln {
  font-size: 30px;
  font-weight: bold;
  visibility: visible;
  padding: 5px 5px;
  z-index: 9999;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.simulation-header-create-first-col {
  min-width: 150px;
}

.simulation-header-create-row {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* height: 30px; */
}

.simulation-header-create-input {
  width: 400px;
}

.simulation-header-run-page-input {
  width: 250px;
}

.assetdetail-title {
  text-align: center;
  margin-bottom: 10px;
}

.assetdetail-title .asset-title {
  display: inline-block;
  margin-left: 0px;
  width: 60%;
}

.assetdetail-title .asset-simulation-nav {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 20%;
}

.assetdetail-title .asset-simulation-nav a {
  color: black;
}

.recharts-layer .recharts-cartesian-axis-tick:first-child text {
  font-size: 0;
}

/* .recharts-layer .recharts-cartesian-axis-tick:last-child text {
  font-size: 0;
} */

.recharts-text.recharts-label {
  font-size: 10px;
}

.ant-radio {
  margin: -1px;
}

.measurement-column-style {
  background-color: #ffffff;
  padding-top: 20px;
  margin-left: -30px;
  width: 80%;
  font-size: 10px;
}

.column-style {
}

.column-asset-detail {
  min-width: 500px;
}

.column-asset-detail {
  background-color: #ffffff;
}

.column-style-map {
  /* background-color: #ffffff; */
}

.inner-column-style {
  background-color: #ffffff;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.run-detail-assets-inner-column-style {
  background-color: #ffffff;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: auto;
  width: 90%;
}

.column-header-style {
  min-width: 400px;
}

.run-header-inner-column-style {
  padding-top: 0px;
}

.run-detail-map-inner-column-style {
  background-color: #ffffff;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: auto;
  width: 95%;
}

.assets-header {
  font-size: 12px;
  padding: 12px;
}

.assets-header {
  font-size: 12px;
  padding: 12px;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px;
}

.run-border {
  /* border: 1px solid #000000; */
}

.ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}

.responsive-row {
  display: flex;
  flex-wrap: wrap;
}

.responsive-column {
  flex-grow: 1;
  flex-basis: 0;
}

.responsive-header-column-1 {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 450px;
}

.responsive-header-column-2 {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 500px;
}

.responsive-header-column-3 {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 75px;
}

.ant-collapse-borderless
  .ant-collapse-item
  .ant-collapse-content
  .ant-collapse-content-box {
  padding: 4px 0;
}

