/* .Layout {
  text-align: center;
} */

.left-navbar {
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d9d9d9; /* #0050b3; */
  /* padding: 10px; */
  width: 130px;
  height: 100%;
}

.top-navbar {
  height: 50px;
  z-index: 2;
  top: 0;
  left: 100px;
  background-color: #8c8c8c; /* #0050b3; */
  /* padding-top: 10px; */
  width: 100%;
}

.nav-text {
  /* color: white; */
  color: black;
}

.nav-text-inactive {
  color: darkgray;
}

.nav-item:hover,
.nav-plus:hover {
  background-color: #fafafa;
}

.nav-item-selected {
  background-color: #9d9d9d;
}

.nav-item {
  font-weight: normal;
  padding: 10px 0;
}

.nav-plus {
  font-weight: normal;
}
