.left-navbar {
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d9d9d9; 

  width: 130px;
  height: 100%;
}

.top-navbar {
  height: 50px;
  z-index: 2;
  top: 0;
  left: 100px;
  background-color: #8c8c8c; 

  width: 100%;
}

.logo-text {
  display: inline-block;
  font-size: 28px;
  width: 100px;
  padding: 10px 5px;
  font-weight: bold;
}

.nav-category {
  font-size: 18px;
  display: inline-block;
}

.nav-text {
  color: black;
}

.nav-text-inactive {
  color: darkgray;
}

.nav-item:hover,
.nav-plus:hover,
.nav-category:hover,
.logo-text:hover {
  background-color: #fafafa;
}

.nav-item-selected {
  background-color: #9d9d9d;
}

.nav-item {
  font-weight: normal;
  padding: 10px 0;
}

.nav-plus {
  font-weight: normal;
} 

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.menu-style {

  height: 100vh;
  /* width: 200px; */
  /* position: fixed; */
  }

